<%- include('includes/head'); %>
<%- include('includes/nav'); %>
    
    
      <div class="container">
        <div class="row">
          <div class="col-lg-2"></div>

          <div class="col-lg-30 my-3">
            <h1 class="text-center">CupCake-Cake</h1>
            <p class="text-center lead">Delícia mesmo é comer nosso sabor favorito de CupCake em boa companhia.</p>
            
            <%- include('includes/messages'); %>
            
            <div class="us-two--box--bxpEdPp">
              <div class="responsive-table">
                  <img src="../../frontend/assets/img/Bolinhos.png" class="itens">
              </div>
            
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
      

<%- include('includes/footer'); %>