h1{
    color: rgb(28, 7, 145);   
}

th, td{
    text-align: left;
}

.itens {
    width: 850px; /* Defina a largura desejada */
    height: 500px; /* Defina a altura desejada */
    padding:15px;
	background: #b1b1c3;
}

body {
    background-color: #e6b7bc;
}

.lead {
    color: aliceblue;
}

.p{
    color: #6b4545;
    text-decoration:solid;
}

.aaa{
    margin: 30px;
    border: 4px solid #999;

}

.aaa span{
    position: absolute;
}

fieldset{
    border: 4px #999;
}